.logo_navbar {
    margin-top: 150px;
    width: auto;
}
@media (max-width: 1000px) {
    .logo_navbar{
        width: 400px;
    }
}
@media (max-width: 399px){
    .logo_navbar{
        content: url(/public/logo_icc_small.jpg);
        width: 100px;
    }
}